.business-card {
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.business__card__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    align-items: center;
    text-decoration: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 4rem;
  }

.business__card__container > h1 {
    color: #fff;
    font-size: 100px;
}

.business__card__img__section {
    overflow: hidden;
    flex: 1;
    width: 100%;
    height: 100%;
}

.container__box__shape {
  width: 80%;
  height: 20rem;
  padding: 0.1rem;
  background-color: #a0b1fe;
  /* clip-path: circle(70% at 10rem 0rem ); */
  clip-path: circle(100% );
  border-radius: 50px;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: 0;
  position: relative;
  cursor: pointer;
}

.container__box__shape.ontop {
  border-radius: 50px;
  margin-top: -18rem;
  /* margin-left: 1rem; */
}
.container__box__shape:hover {
  clip-path: circle(100%);
  width: 90%;
  z-index: 1;
}

.business__card__img {
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50px;
    transition: all 0.2s linear;
}

.biness__card__info__section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.business__card__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 8rem;
  justify-content: center;
  gap: 2rem;
}

.business__card__footer__box {
  background-color: #a0b1fe;
  flex: 1;
  text-align: center;
  padding-top: 2.5rem;
  cursor: pointer;
  border-radius: 10px;
}

.text__m {
  flex: 1;
}

.text__s {
  flex: 1;
}


@media only screen and (max-width: 1024px) {
  .business__card__container {
      flex-direction: column;
      justify-items: center;
  }

  .container__box__shape {
    clip-path: circle(100%);
  }

  .business__card__footer {
    flex-direction: column;
    height: unset;
  }  

  .business__card__footer__box {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}