.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
    color: gray;
}

.call-to-action > h1 {
    font-size: 8rem;
}

.call-to-acton-input-area {
    padding: 4rem 0 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-acton-input-area > input {
    width: 420px;
}

@media only screen and (max-width: 1024px) {
    .call-to-acton-input-area > input {
        width: 100%;
    }
  }