.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact__us__content{
    display: flex;
    width: 100%;
    gap: 2rem;
}

.contact__us__info__section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contact__us__navigation__section {
    flex: 2;
}

.contact-us-link {
    display: inline-flex;
    font-size: 24px;
    color: gray;
    gap: 2rem;
}

.contact-us-link > a {
    color: gray;
}

.contact-us-link > a:hover {
    color: lightgray;
}

.contact__us__icon {
    width: 24px;
}


@media only screen and (max-width: 1024px) {
    .contact__us__content{
        flex-direction: column;
        margin-top: 2rem;
    }
}