.product__item {
    flex-direction: column;
    justify-content: start;
    padding-top: 2rem;
    background-color: #fff;
    height: unset;
}

.product__item__details__section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

.product__item__img__section {
    width: 100%;
    flex: 1;
}

.product__item__info__section {
    flex: 2;
}

.product__item__img {
    width: 100%;
    max-width: 100%;
}

.product__item__additional__info{
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.product__item__add__info__image__section::-webkit-scrollbar {
    display: none;
  }

.product__item__add__info__image__section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    flex-wrap: nowrap;
    list-style-type: none;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.product__item__add__info__image__section > li {
    /* flex-basis: 350px; */
    flex: 1;
    min-width: 14rem;
  }

  .product__item__add__info__image__section > li > .product__item_add_info__label {
    text-align: center;
  }

  .product__item__add__info__image__section > li > .product__item_add_info__decsription {
    text-align: center;
  }

.product__item__add__info__image {
    object-fit: contain;
    width: 100%;
    /* height: 100%; */
    vertical-align: middle;
    border-radius: 5px;
    max-height: 20rem;
}

.browse__other__items {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .product__item__add__info__image__section > li {
        /* margin-top: 2rem; */
      }

    .product__item__add__info__image__section {
        /* flex-direction: column; */
    }

    .product__item__details__section {
        flex-direction: column;
    }
}