.product__item {
    flex-direction: column;
    justify-content: start;
    padding-top: 2rem;
    background-color: #fff;
    height: unset;
}

.product__item__details__section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.product__item__img__section {

}

.product__item__info__section {

}

.product__item__img {
    max-width: 30rem;
    max-height: 30rem;
}

.browse__other__items {
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .product__item__details__section {
        flex-direction: column;
    }   
}