.product__item {
    flex-direction: column;
    justify-content: start;
    padding-top: 2rem;
    background-color: #fff;
    height: unset;
}

.product__item__details__section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

.product__item__img__section {
    width: 100%;
    flex: 1;
}

.product__item__info__section {
    flex: 2;
}

.product__item__img {
    width: 100%;
    max-width: 100%;
}

.browse__other__items {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .product__item__details__section {
        flex-direction: column;
    }   
}