@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Poppins';
  font-weight: 400;
}

/*
--text: #051a0f;
--background: #f6fdfa;
--primary: #0e27c6;
--secondary: #a0b1fe;
--accent: #90DBFD;

*/

/*

@import url('https://fonts.googleapis.com/css?family=Quattrocento:700|Quattrocento:400');

body {
  font-family: 'Quattrocento';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Quattrocento';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */
/*

h1 {font-size: 4.210rem;}

h2 {font-size: 3.158rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small {font-size: 0.750rem;}

*/

html {
  background-color:#f6fdfa;
  font-size: 100%;
}

.app-body{
  padding-left: 15rem;
  padding-right: 15rem;

  
}

.home,
.services,
.products,
.product__item,
.contact-us,
.business-card,
.testimonials,
.call-to-action,
.sign-up {
  display: flex;
  height: 100vh;
  align-items:start;
  justify-content: center;
  font-size: 3rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.home > h1,
.services > h1,
.products > h1,
.product__item > h1,
.contact-us > h1,
.business-card > h1,
.testimonials > h1,
.call-to-aciton > h1,
.sign-up > h1 {
  color: #fff;
  font-size: 100px;
}

.services {
  background-image: url('../public/Images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  /* background-image: url('../public/Images/img-1.jpg'); */
  /* background-color: #fbfbfe; */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about-us {
  background-color: rgb(20, 20, 20);
}

.about-us-inner {
  background: linear-gradient(rgba(0, 0, 193, 0.60), rgba(0, 0, 0, 0.60))
}

.business-card {
  /* background-image: linear-gradient(rgba(211, 211, 211, 0.80), rgba(0, 0, 0, 0.60)), url('../public/Images/img-14.jpg'); */
  /* background-color:#F8F8F8; */
  /* background-color:#0e27c6; */
  /* background: linear-gradient(rgba(14, 39, 198, 0.60), rgba(0, 0, 0, 0.60)); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #f6fdfa;
  font-size: 100px;
  height: unset;
}

.testimonials {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(211, 211, 211, 0.60)), url('../public/Images/img-15.jpg'); */
  /* background-color: #0e27c6; */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #f6fdfa;
  font-size: 100px;
  height: unset;
}

.call-to-action {
  /* background-image: url('../public/Images/img-6.jpg'); */
  /* background-color:#eceeff; */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: gray;
  font-size: 100px;
  height: unset;
}

.contact-us {
  /* background-image: url('../public/Images/img-3.jpg'); */
  /* background-color:#F8F8F8; */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: gray;
  font-size: 100px;
  height: unset;
}

.sign-up {
  background-image: url('../public/Images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.section-header {
  text-align: center;
  color: gray;
  font-size: 100px;
}


.text-input {
  padding: 8px 20px;
  border-radius: 2px;
  /* margin-right: 10px; */
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #fff;
  width: 100%;
}

.text-input.half-size {
  width: 49%;
}

.text-input::placeholder {
    color: #b1b1b1;
}


.text__xl, .text__l, .text__m, .text__s, .text__xs, .text__xxs {
  font-family: 'Quattrocento';
  font-weight: 700;
}

.text__xl {
  font-size: 4.210rem;
}

.text__l {
  font-size: 3.158rem;
}

.text__m {
  font-size: 2.369rem;
}

.text__s {
  font-size: 1.777rem;
  font-weight: 400;
}

.text__xs {
  font-size: 1.333rem;
  font-weight: 400;
}

.text__xxs {
  font-size: 0.950rem;
  font-weight: 400;
}


.m-t-xl
{
  margin-top: 6rem;
}

.m-t-l
{
  margin-top: 4rem;
}

.m-t-m
{
  margin-top: 2rem;
}

.m-t-s
{
  margin-top: 1rem;
}


.m-b-l
{
  margin-bottom: 4rem;
}

.m-b-m
{
  margin-bottom: 2rem;
}

.m-b-s
{
  margin-bottom: 1rem;
}


.p-t-l
{
  padding-top: 4rem;
}

.p-t-m
{
  padding-top: 2rem;
}

.p-t-s
{
  padding-top: 1rem;
}


.p-b-l
{
  padding-bottom: 4rem;
}

.p-b-m
{
  padding-bottom: 2rem;
}

.p-b-s
{
  padding-bottom: 1rem;
}


.divider-solid {
  border-top: 3px solid #bbb;
  width: 100%;
}


.divider-thin {
  border-top: 1px solid #bbb;
  width: 100%;
}


@media only screen and (max-width: 1024px) {
  .home,
  .services,
  .products,
  .product__item,
  .contact-us,
  .business-card,
  .testimonials,
  .call-to-aciton,
  .sign-up {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}